<form method="POST" action="/admin/add_new">
    <label>Title:<br><input type:"text" name="title" required></label>
    <br>
    <label>Content:<br><textarea name="content"></textarea></label>
    <br>
    <input type="submit" value="Submit">
    <br>
</form>