<h3>Register to contribute to this blog!</h3>
<form action="/registration_form_handler" method="POST">
  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email" required><br>
  <label for="lname">Password (min 5 chars):</label><br>
  <input type="password" id="password" name="password" minlength="5" required><br><br>
  <input type="submit" value="Submit">
</form>